.hero-section {
  /* min-height: 100vh; */
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.cta-section {
  background-color: #1d1d1d;
}
