/* Mobile layout: Hide sidebars and show only main content */
@media (max-width: 768px) {
  div {
    grid-template-columns: 1fr; /* Single column layout */
  }

  aside {
    display: none; /* Hide both aside sections */
  }

  main {
    grid-column: 1 / -1; /* Span the entire width of the grid */
  }
}
aside {
  position: sticky; /* Makes the aside section fixed within its parent container */
  top: 80px; /* Distance from the top of the viewport */
  align-self: start; /* Align the aside content to the top */
}

.card-mod {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.access-not-found {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

/* Tablet layout: Hide only the second aside (right section) */
@media (min-width: 769px) and (max-width: 1024px) {
  div {
    grid-template-columns: 2fr 4fr; /* Remove the third column */
  }

  aside:nth-of-type(2) {
    display: none; /* Hide the second aside (right section) */
  }

  main {
    grid-column: 2 / -1; /* Adjust main content to span properly */
  }
}

main {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: "#f8f9fa";
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Example for dark theme offcanvas */
.offcanvas-dark {
  background-color: #21252b !important;
  color: white !important;
}

/* Example for light theme offcanvas */
.offcanvas-light {
  background-color: #f8f9fa !important;
  color: black !important;
}

/* Common styles for the layout container */
.layout-auth,
.layout-unAuth {
  min-width: 100vw;
  min-height: 100vh;
}

/* Authenticated layout */
.layout-auth {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  gap: 20px;
}

/* Unauthenticated layout */
.layout-unAuth {
  display: flex; /* Use flexbox for simpler fallback layout */
  flex-direction: column;
}

.feed-post-card {
  margin-bottom: 10px;
  /* margin: 10px; */
  padding: 20px;
  /* border-radius: 10px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.feed-post-card-header {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* Hide the both side padding for mobiel screen*/
@media (min-width: 769px) {
  .layout-auth {
    padding: 20px;
  }
}

@media (max-width: 769px) {
  /* .feed-post-card {
    padding: 0 !important;
  } */
  /* need to find solution until keeping it like this */
  .feed-post-card-header {
    margin: 0.75rem;
  }
  .feed-post-card-description {
    margin-left: 0.75rem;
    margin-bottom: 0.5rem;
  }
}
