/* .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: rgba(255, 255, 255, 0.8);
} */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: rgba(255, 255, 255, 0.8); /* Optional: overlay background */
  z-index: 999; /* Ensure it appears above other elements */
  position: fixed; /* Fix the spinner to the viewport */
  top: 0; /* Position it at the top */
  left: 0; /* Position it at the left */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #4caf50; /* Spinner color */
  animation: spin 1s ease infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
