@media (max-width: 768px) {
  div {
    display: flex;
    flex-direction: column;
  }

  aside {
    margin-bottom: 20px; /* Add spacing for mobile layout */
  }
}

aside {
  position: sticky; /* Makes the aside section fixed within its parent container */
  top: 20px; /* Distance from the top of the viewport */
  align-self: start; /* Align the aside content to the top */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* .sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: "#f8f9fa";
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
} */
